PORT=3000
HOST=localhost
NODE_ENV=development
DB_NAME=cattle_tracker
DB_USERNAME=app_user
DB_PASSWORD=Secure_pass1!
DB_HOST=localhost
LOG_LEVEL=info
JWT_SECRET=deadbeef
LOG_ROOT=log
IMAGE_ROOT=images

