PORT=3000
HOST=localhost
NODE_ENV=development
DB_NAME=cattle_tracker
DB_USERNAME=user
DB_PASSWORD=pass
DB_HOST=localhost
LOG_LEVEL=info
TLS_CRT=tlscert/server.crt
TLS_KEY=tlscert/server.key
API_KEY=deadbeef
JWT_SECRET=deadbeef
LOG_ROOT=cattle_tracker/logs
IMAGE_ROOT=cattle_tracker/images/cows

